* {
    color: blue;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    text-align: center;
}

.page__link {
    text-decoration: none;
}


.btn__backtomain {
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: brown;

}

.form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 32px;
}